@media only screen and (max-width: 1220px) {
    /* HOME-PAGE */

    .bannerLeft h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .bannerLeft p {
        font-size: 18px;
        line-height: 25px;
    }

    .bannerRight {
        height: 600px;
    }

    .experinceProducts {
        margin: 100px 0;
    }

    .imgWithBgSec {
        height: 500px;
    }

    .clmnImgCntSec {
        margin: 100px 0;
    }

    .clmnImgCntSecContent ul li {
        font-size: 16px;
        line-height: 23px;
    }

    .clmnImgCntSecContent ul li strong {
        font-size: 18px;
        line-height: 25px;
    }

    .enjoySec {
        margin: 100px 0;
    }

    .stepSec {
        margin: 100px 0;
    }

    .stepBox::after {
        right: -6.2vw;
    }

    .footTopRow {
        grid-template-columns: 36% 16% 16% 24%;
    }

    .imgWithBgSecRow p {
        font-size: 18px;
        line-height: 25px;
    }

    .testimonialSec {
        margin: 100px 0;
    }

    .ourBlogMain {
        margin: 100px 0;
    }

    /* HOME-PAGE */
}

@media only screen and (max-width: 1024px) {
    /* HOME-PAGE */

    .eyeBrowText span {
        font-size: 14px;
        line-height: 14px;
    }

    .footTopRow {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 20px;
    }

    .footerNewsLatter {
        grid-column: span 3;
        max-width: 450px;
    }

    .footLinks {
        margin-left: 0;
    }

    .eyeBrowText img {
        width: 28px;
        height: 28px;
    }

    .bannerLeft h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .bannerLeft p {
        font-size: 16px;
        line-height: 22px;
    }

    .mainSiteBtn {
        margin-top: 40px;
    }

    .bannerRight {
        height: 500px;
    }

    .mainSiteBtn a {
        font-size: 16px;
        line-height: 16px;
        padding: 12px 25px;
    }

    .experinceProducts {
        margin: 80px 0;
    }

    .siteHeadingHldr {
        margin-bottom: 40px;
    }

    .siteHeadingHldr h2 {
        font-size: 33px;
        line-height: 40px;
    }

    .expProdBox:nth-child(3n + 1) {
        height: 450px;
    }

    .expProdBox:nth-child(3n + 2) {
        height: 210px;
    }

    .expProdBox:nth-child(3n + 3) {
        height: 210px;
    }

    .expProdBox::before {
        background-size: 40px;
    }

    .imgWithBgSec {
        height: 450px;
    }

    .imgWithBgSecRow h2 {
        font-size: 33px;
        line-height: 40px;
    }

    .imgWithBgSecRow p {
        font-size: 16px;
        line-height: 22px;
    }

    .clmnImgCntSec {
        margin: 80px 0;
    }

    .clmnImgCntSecContent h3 {
        font-size: 29px;
        line-height: 35px;
    }

    .clmnImgCntSecContent ul li::before {
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin-right: 15px;
    }

    .clmnImgCntSecContent ul li strong {
        font-size: 16px;
        line-height: 20px;
    }

    .clmnImgCntSecContent ul li {
        font-size: 14px;
        line-height: 20px;
    }

    .clmnImgCntSecRow {
        gap: 20px;
    }

    .takleRoots {
        padding: 60px 0;
    }

    .siteHeadingHldr p {
        margin-top: 15px;
        font-size: 16px;
    }

    .clmnImgCntSecImg {
        height: 500px;
    }

    .clmnImgCntSecImg img {
        border-radius: 15px;
    }

    .tooltipCont img {
        height: 75px;
        width: 75px;
    }

    .tooltipCont p {
        font-size: 16px;
        line-height: 23px;
    }

    .tooltipCont {
        width: 230px;
    }

    .circle-tooltip.right-tooltip .tooltipCont::after {
        width: 203px;
        top: 77px;
        right: -60px;
        transform: rotate(45deg) scale(1.2);
    }

    .circle-tooltip.right-tooltip .tooltipCont {
        left: -310px;
    }

    .tooltipCont::after {
        width: 200px;
        transform: scale(1.2);
    }

    .circle-tooltip.top-tooltip .circle {
        left: 50px;
        bottom: -4px;
    }

    .tackelRootMainImg {
        height: 450px;
    }

    .circle-tooltip.bottom-tooltip .tooltipCont::after {
        width: 200px;
        transform: scale(1.2) scaleY(-1);
        right: 170px;
    }

    .circle-tooltip.bottom-tooltip .circle {
        position: absolute;
        left: 50px;
        bottom: 20px;
    }

    .enjoySec {
        margin: 80px 0;
    }

    .enjoyIconBox {
        padding: 20px;
    }

    .enjoyIconBox img {
        height: 50px;
        width: 50px;
    }

    .enjoyIconBox h4 {
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
    }

    .enjoyIconBox p {
        font-size: 16px;
        line-height: 22px;
    }

    .enjoyIconBox {
        border-radius: 15px;
    }

    .product-card-wrapper {
        border-radius: 15px;
    }

    .product-card-wrapper .card__inner {
        height: 250px;
    }

    .prodCardBtn {
        height: 40px;
        width: 40px;
    }

    .prodCardBtn a {
        padding: 8px;
    }

    .ourPordRow .swiper {
        padding-bottom: 40px;
    }

    .ourProducts {
        padding: 60px 0;
    }

    .stepSec {
        margin: 80px 0;
    }

    .stepImg {
        height: 150px;
        width: 150px;
    }

    .stepImg span {
        height: 60px;
        width: 60px;
        font-size: 18px;
        line-height: 18px;
    }

    .stepImg::before {
        font-size: 40px;
        line-height: 40px;
    }

    .stepCnt p {
        font-size: 16px;
        line-height: 23px;
    }

    .twoBox {
        padding: 60px 0 30px;
    }

    .stepImg img {
        border-radius: 15px;
    }

    .twoBxPr {
        gap: 15px;
    }

    .twoBxPr img {
        height: 400px;
        border-radius: 15px;
    }

    .product-card-wrapper .card__content .card__heading {
        font-size: 16px;
        line-height: 22px;
    }

    .product-card-wrapper .card__content .price__container .price__regular .price-item,
    .product-card-wrapper .card__content .price__container .price__sale .price-item {
        font-size: 18px;
        line-height: 24px
    }

    .twoBxPr h4 {
        font-size: 20px;
        line-height: 26px;
    }

    .twoBxPr p {
        font-size: 16px;
        line-height: 22px;
    }

    .wondering {
        padding: 30px 0 60px;
    }

    .siteHeadingHldr h3 {
        font-size: 29px;
        line-height: 35px;
    }

    .wondBox {
        padding: 20px;
        border-radius: 15px;
        padding-top: 70px;
    }

    .wondBox img {
        height: 120px;
        width: 120px;
    }

    .testimonialSec {
        margin: 80px 0;
    }

    .testiBox {
        padding: 20px;
    }

    .testiBox img {
        height: 40px;
        width: 40px;
    }

    .testiBox p {
        font-size: 16px;
        line-height: 22px;
    }

    .testiBox .authTest {
        font-size: 18px;
        line-height: 23px;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        width: 60px !important;
    }

    .testimonialSec .swiper .swiper-slide {
        max-width: 400px;
    }

    .clmnImgCntSec.invertedSec {
        padding: 60px 0;
    }

    .ourBlogMain {
        margin: 80px 0;
    }

    .article-card-wrapper .card__inner {
        height: 250px;
    }

    .article-card-wrapper .card__inner .article-card__image img,
    .article-card-wrapper .card__inner .article-card__image,
    .article-card-wrapper .card__inner {
        border-radius: 15px;
    }

    .article-card-wrapper .card__content .card__heading {
        font-size: 20px;
        line-height: 26px;
    }

    .articleDesc P {
        font-size: 16px;
        line-height: 22px;
    }

    .footLogo {
        height: 130px;
        width: 130px;
    }

    .footerMain .container {
        padding-top: 100px;
    }

    .footerNewsLatter h3,
    .footLinks h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .footLinks ul li a {
        font-size: 16px;
        line-height: 16px;
    }

    .footLinks:last-child {
        margin-left: 0;
    }

    .inputHldr input {
        height: 40px;
    }

    .expProdBox img,
    .expProdBox,
    .expProdBox::before {
        border-radius: 15px;
    }

    /* HOME-PAGE */
}

@media only screen and (max-width: 768px) {
    /* HOME-PAGE */

    .bannerRow {
        grid-template-columns: 1fr 1fr;
    }

    .bannerLeft {
        margin-left: 0;
        padding: 0;
    }

    .bannerRight {
        height: 500px;
    }

    .eyeBrowText img {
        width: 24px;
        height: 24px;
    }

    .bannerLeft h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .mainSiteBtn {
        margin-top: 30px;
    }

    .experinceProducts {
        margin: 60px 0;
    }

    .siteHeadingHldr {
        margin-bottom: 30px;
    }

    .expProdBox:nth-child(3n + 1) {
        height: 400px;
    }

    .expProdBox:nth-child(3n + 2) {
        height: 190px;
    }

    .expProdBox:nth-child(3n + 3) {
        height: 190px;
    }

    .imgWithBgSec {
        height: 300px;
    }

    .siteHeadingHldr h2 {
        font-size: 28px;
        line-height: 33px;
    }

    .imgWithBgSecRow {
        grid-template-columns: repeat(1, 1fr);
    }

    .imgWithBgSecRow h2 {
        font-size: 28px;
        line-height: 33px;
        max-width: 540px;
    }

    .imgWithBgSecRow p {
        max-width: 540px;
    }

    .clmnImgCntSec {
        margin: 60px 0;
    }

    .clmnImgCntSecRow {
        grid-template-columns: 1fr !important;
    }

    .clmnImgCntSecImg {
        height: 400px;
    }

    .clmnImgCntSecContent h3 {
        font-size: 25px;
        line-height: 30px;
        max-width: 600px;
    }

    .clmnImgCntSecContent ul {
        margin-top: 20px;
        gap: 20px;
    }

    .takleRoots {
        padding: 50px 0;
    }

    .tackelRootMainImg {
        height: 380px;
    }

    .eyeBrowText span {
        margin-bottom: 5px;
    }

    .enjoySec {
        margin: 60px 0;
    }

    .enjoyRow {
        grid-template-columns: repeat(2, 1fr);
    }

    .enjoyIconBox img {
        height: 40px;
        width: 40px;
    }

    .enjoyIconBox h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .ourProducts {
        padding: 50px 0;
    }

    body .swiper .swiper-button-prev,
    body .swiper .swiper-button-next {
        height: 30px;
        width: 30px;
    }

    body .swiper .swiper-button-prev::after,
    body .swiper .swiper-button-next::after {
        font-size: 16px;
    }

    .stepImg {
        height: 120px;
        width: 120px;
    }

    .stepImg span {
        height: 45px;
        width: 45px;
        font-size: 14px;
        line-height: 14px;
    }

    .stepImg::before {
        font-size: 30px;
    }

    .stepBox::after {
        top: 30%;
    }

    .twoBoxRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .twoBxPr img {
        height: 400px;
    }

    .twoBxPr h4 {
        font-size: 18px;
        line-height: 22px;
    }

    .wondBox h5,
    .wondBox p {
        font-size: 16px;
        line-height: 20px;
    }

    .wondBox img {
        height: 80px;
        width: 80px;
        top: -40px;
    }

    .testiBox .authTest {
        font-size: 16px;
        line-height: 20px;
    }

    .wondRow {
        padding-top: 40px;
    }

    .wondBox {
        padding-top: 60px;
    }

    .testimonialSec {
        margin: 60px 0;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        width: 40px !important;
    }

    .clmnImgCntSec.invertedSec {
        padding: 50px 0;
    }

    .clmnImgCntSec.invertedSec .clmnImgCntSecImg {
        order: 1;
    }

    .ourBlogMain {
        margin: 60px 0;
    }

    .ourBlogRow {
        grid-template-columns: repeat(2, 1fr);
    }

    .article-card-wrapper .card__inner {
        height: 220px;
    }

    .article-card-wrapper .card__content {
        margin-top: 15px;
    }

    .article-card-wrapper .card__content .card__heading {
        font-size: 18px;
        line-height: 22px;
    }

    .footTopRow {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 50px;
    }

    .footLinks {
        margin-left: 0;
    }

    .circle-tooltip.right-tooltip .tooltipCont::after {
        background: url(../img/straigt-tootip.svg);
        transform: rotate(0) scale(1.2);
        background-size: contain;
        background-repeat: no-repeat;
        width: 2px;
        height: 100px;
        right: 45px;
        top: 140px;
    }

    .circle-tooltip.right-tooltip .tooltipCont p {
        text-align: center;
    }

    .circle-tooltip.right-tooltip .tooltipCont {
        left: -90px;
        top: -170px;
    }

    .circle-tooltip.right-tooltip .circle {
        left: -25px;
        top: 75px;
    }

    .takleRootsRow {
        padding-top: 190px;
        padding-bottom: 150px;
    }

    .tooltipCont::after {
        background: url(../img/straigt-tootip.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .circle-tooltip.top-tooltip .tooltipCont {
        right: 130px;
        top: -100px;
    }

    .tooltipCont::after {
        width: 2px;
    }

    .circle-tooltip.top-tooltip .circle {
        left: 180px;
        bottom: -180px;
    }

    .tooltipCont::after {
        content: '';
        top: 160px;
        right: 138px;
    }

    .circle-tooltip.top-tooltip .tooltipCont p {
        text-align: center;
    }

    .tooltipCont {
        width: auto;
        padding: 0;
    }

    .bannerRow {
        gap: 15px;
    }

    .circle-tooltip.bottom-tooltip .circle {
        position: absolute;
        left: 150px;
        bottom: 130px;
    }

    .circle-tooltip.bottom-tooltip .tooltipCont::after {
        width: 2px;
    }

    .circle-tooltip.bottom-tooltip .tooltipCont {
        right: 180px;
    }

    .circle-tooltip.bottom-tooltip .tooltipCont::after {
        right: 118px;
        top: -120px;
    }

    .stepSec {
        margin: 60px 0;
    }

    /* HOME-PAGE */
}