@media only screen and (max-width : 575px) {
    /* HOME-PAGE */

    .container,
    .page-width {
        padding: 0 15px;
    }

    .bannerRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .bannerMain {
        padding: 80px 0 40px;
    }

    .bannerMain .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bannerRight {
        height: 300px;
    }

    .bannerRight img {
        border-radius: 10px;
    }

    .eyeBrowText span {
        font-size: 12px;
        line-height: 12px;
    }

    .eyeBrowText img {
        width: 18px;
        height: 18px;
    }

    .bannerLeft h1,
    .innBanHead {
        font-size: 30px;
        line-height: 33px;
    }

    .bannerLeft p {
        font-size: 14px;
        line-height: 19px;
        margin: 15px 0;
    }

    .mainSiteBtn {
        margin-top: 20px;
    }

    .mainSiteBtn a {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 20px;
    }

    .qualitySlider {
        padding: 10px 0;
    }

    .quaBox span {
        font-size: 14px;
        line-height: 18px;
    }

    .siteHeadingHldr h2 {
        font-size: 24px;
        line-height: 27px;
    }

    .siteHeadingHldr {
        margin-bottom: 25px;
    }

    .expProdRow {
        gap: 10px;
    }

    .expProdBox:nth-child(3n + 1) {
        grid-column: span 12;
        height: 260px;
    }

    .expProdBox:nth-child(3n + 2) {
        height: 130px;
    }

    .expProdBox:nth-child(3n + 3) {
        height: 130px;
    }

    .expProdBox img,
    .expProdBox,
    .expProdBox::before {
        border-radius: 10px;
    }

    .expProdBox::before {
        background-size: 30px;
    }

    .experinceProducts {
        margin: 40px 0;
    }

    .imgWithBgSec {
        height: max-content;
    }

    .imgWithBgSecRow h2 {
        font-size: 24px;
        line-height: 27px;
    }

    .imgWithBgSecRow p {
        font-size: 14px;
        line-height: 18px;
    }

    .clmnImgCntSec {
        margin: 40px 0;
    }

    .clmnImgCntSecImg img {
        border-radius: 10px;
    }

    .clmnImgCntSecImg {
        height: 250px;
    }

    .clmnImgCntSecContent h3 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .clmnImgCntSecContent ul li::before {
        height: 16px;
        width: 16px;
        min-width: 16px;
        margin-right: 10px;
    }

    .clmnImgCntSecContent ul li strong {
        font-size: 14px;
        line-height: 16px;
    }

    .clmnImgCntSecContent ul li {
        font-size: 12px;
        line-height: 15px;
        padding-left: 30px;
    }

    .takleRoots {
        padding: 40px 0;
    }

    .tooltipCont img {
        height: 60px;
        width: 60px;
    }

    .tooltipCont {
        gap: 10px;
    }

    .tooltipCont p {
        font-size: 14px;
        line-height: 18px;
        max-width: 200px;
        margin: 0 auto;
    }

    .circle-tooltip.bottom-tooltip .circle {
        left: 325px;
        bottom: 60px;
    }

    .circle-tooltip.bottom-tooltip .tooltipCont::after {
        right: 92px;
        top: -90px;
        height: 80px;
        transform: scale(1.5);
    }

    .circle-tooltip.bottom-tooltip .tooltipCont {
        right: 30px;
        bottom: -110px;
    }

    .takleRootsRow {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .circle-tooltip.top-tooltip .circle {
        left: 180px;
        bottom: -100px;
    }

    .circle-tooltip.top-tooltip .tooltipCont {
        right: 0;
        top: -130px;
    }

    .circle-tooltip.top-tooltip {
        top: 120px;
        right: 0%;
        max-width: 300px;
        min-width: 300px;
    }

    .tooltipCont::after {
        content: '';
        top: 102px;
        right: 106px;
        transform: scale(1.1);
    }

    .circle-tooltip.right-tooltip .circle {
        left: -50px;
        top: 70px;
    }

    .circle-tooltip.right-tooltip .tooltipCont {
        left: -100px;
        top: -90px;
    }

    .circle-tooltip.right-tooltip .tooltipCont::after {
        height: 80px;
        top: 85px;
        transform: scale(1.5);
        right: 44px;
    }

    .enjoySec {
        margin: 40px 0;
    }

    .siteHeadingHldr p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .enjoyRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .enjoyIconBox {
        border-radius: 10px;
        padding: 15px;
    }

    .enjoyIconBox p {
        font-size: 14px;
        line-height: 18px;
    }

    .enjoyIconBox h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .enjoyIconBox img {
        height: 34px;
        width: 34px;
    }

    .product-card-wrapper .card__inner {
        height: 220px;
    }

    .product-card-wrapper {
        border-radius: 10px;
        padding: 10px;
    }

    .product-card-wrapper .card__inner .card__media,
    .product-card-wrapper .card__inner .media,
    .product-card-wrapper .card__inner .card__media img,
    .product-card-wrapper .card__inner .card__media::after {
        border-radius: 5px;
    }

    .ourProducts {
        padding: 40px 0;
    }

    .product-card-wrapper .card__content .card__heading {
        font-size: 14px;
        line-height: 17px;
    }

    .product-card-wrapper .card__content .price__container .price__regular .price-item,
    .product-card-wrapper .card__content .price__container .price__sale .price-item {
        font-size: 16px;
        line-height: 22px;
    }

    .product-card-wrapper .card__content {
        margin-top: 15px;
    }

    .ourPordRow .swiper {
        padding-bottom: 30px;
    }

    .prodCardBtn {
        height: 34px;
        width: 34px;
    }

    .prodCardBtn a {
        padding: 6px;
    }

    .stepSec {
        margin: 40px 0;
    }

    .setpSecRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .stepImg img {
        border-radius: 10px;
    }

    .stepImg {
        border-radius: 10px;
    }

    .stepCnt {
        margin-top: 12px;
    }

    .stepCnt p {
        font-size: 14px;
        line-height: 18px;
    }

    .stepImg span {
        height: 40px;
        width: 40px;
        font-size: 12px;
        line-height: 12px;
    }

    .stepImg::before {
        font-size: 28px;
    }

    .twoBox {
        padding: 40px 0 20px;
    }

    .twoBxPr img {
        height: 250px;
        border-radius: 10px;
    }

    .twoBxPr h4 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
    }

    .twoBxPr {
        gap: 10px;
    }

    .twoBxPr p {
        font-size: 14px;
        line-height: 18px;
    }

    .wondering {
        padding: 20px 0 40px;
    }

    .siteHeadingHldr h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .wondRow {
        grid-template-columns: repeat(1, 1fr);
    }

    .wondRow {
        padding-top: 30px;
        gap: 50px;
    }

    .wondBox h5,
    .wondBox p {
        font-size: 14px;
        line-height: 16px;
    }

    .wondBox {
        padding: 15px;
        padding-top: 40px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: 100%;
    }

    .wondBox img {
        height: 60px;
        width: 60px;
        top: -30px;
    }

    .wondBox p {
        margin-top: 5px;
    }

    .testimonialSec {
        margin: 40px 0;
    }

    .testiBox {
        padding: 15px;
        border-radius: 10px;
    }

    .testiBox img {
        height: 30px;
        width: 30px;
    }

    .testiBox p {
        font-size: 14px;
        line-height: 18px;
    }

    .testiBox .testiLine {
        margin: 14px 0;
    }

    .testiBox .authTest {
        font-size: 14px;
        line-height: 16px;
        padding: 5px 15px;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        width: 30px !important;
        height: 8px !important;
    }

    .swiper-pagination .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
    }

    .testimonialSec .swiper {
        padding-bottom: 40px;
    }

    .testimonialSec .swiper .swiper-slide {
        max-width: 300px;
    }

    .clmnImgCntSecContent p {
        font-size: 14px;
        line-height: 18px;
    }

    .clmnImgCntSec.invertedSec {
        padding: 40px 0;
    }

    .ourBlogMain {
        margin: 40px 0;
    }

    .ourBlogRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .article-card-wrapper .card__inner .article-card__image img,
    .article-card-wrapper .card__inner .article-card__image,
    .article-card-wrapper .card__inner {
        border-radius: 10px;
    }

    .article-card-wrapper .card__inner {
        height: 200px;
    }

    .blog-info-user ul li {
        font-size: 12px;
        line-height: 12px;
    }

    .article-card-wrapper .card__content .card__heading {
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
    }

    .articleDesc P {
        font-size: 14px;
        line-height: 18px;
    }

    .footTopRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .footerNewsLatter {
        grid-column: span 1;
    }

    .stepBox::after {
        display: none;
    }

    .footerMain .container {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .footLogo {
        height: 80px;
        width: 80px;
        top: -45px;
        left: 15px;
    }

    .footerNewsLatter h3,
    .footLinks h3 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;
    }

    .inputHldr input,
    .inputHldr button {
        height: 35px;
        font-size: 14px;
        line-height: 14px;
    }

    .inputHldr input::placeholder {
        font-size: 14px;
        line-height: 14px;
    }

    .footTopRow {
        padding-bottom: 40px;
    }

    .footLinks ul {
        gap: 8px;
    }

    .footLinks ul li a {
        font-size: 14px;
        line-height: 14px;
    }

    .footBotRow {
        border-radius: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .ftBtMid {
        grid-column: span 1;
    }

    .ftBtLft p {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    .ftBtRit {
        margin-right: auto;
    }

    .ftBtRit ul {
        gap: 6px;
    }

    .ftBtRit ul::before {
        width: 1px;
        height: 16px;
    }

    .ftBtRit ul li a {
        font-size: 12px;
        line-height: 12px;
    }

    .ftBtMid {
        gap: 5px;
    }

    .ftBtMid img {
        width: 30px;
        height: 20px;
    }

    .ourPordRow .swiper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .downloadNow {
        margin: 40px 0;
        padding: 40px 0;
    }

    .dnldseCimg {
        height: 250px;
    }

    .dnldseCimg img {
        border-radius: 10px;
    }

    .dnldseCcnt h3 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .DnldFielD label,
    .DnldFielD input {
        font-size: 14px;
        line-height: 18px;
    }

    .DnldFielD input {
        height: 36px;
    }

    .dnldFiELDHldr {
        gap: 10px;
        margin-top: 20px;
    }

    .DnldFielD button {
        margin-top: 15px;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 20px;
    }

    /* HOME-PAGE */

    /* FAQS-PAGE */

    .innerBanner {
        padding: 60px 0 30px;
    }

    .faqSMain {
        margin: 40px 0;
    }

    .accordion-item-header,
    .accordion-item-body-content {
        padding: 13px;
    }

    .faq__accordion {
        gap: 10px;
    }

    .accordion-item {
        border-radius: 10px;
    }

    .accordion-item-header h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .accordion-item-header::after {
        right: 13px;
        height: 9px;
        width: 13px;
    }

    .accordion-item-body-content p {
        font-size: 14px;
        line-height: 18px;
    }

    .accordion-item-body-content p:not(:first-child) {
        margin-top: 10px;
    }

    /* FAQS-PAGE */

    /* CONTACT-PAGE */

    .containMain {
        margin: 40px 0;
    }

    .our_fields__hLDR {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .field:has(textarea),
    .field:has(button) {
        grid-column: span 1;
    }

    .field label {
        font-size: 14px;
        line-height: 18px;
    }

    .field input,
    .field textarea {
        height: 36px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 5px;
    }

    .field textarea {
        height: 100px;
    }

    .field button {
        margin-top: 20px;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 25px;
    }

    /* CONTACT-PAGE */

}